<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mmjang.ankihelper">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.ichi2.anki.permission.READ_WRITE_DATABASE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_light"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network"
        android:roundIcon="@drawable/icon_light"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.translation.CustomTranslationActivity"></activity>
        <activity
            android:name=".ui.popup.PopupActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.plan.PlansManagerActivity"
            android:label="@string/title_activity_plans_manager"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mmjang.ankihelper.ui.LauncherActivity" />
        </activity>
        <activity
            android:name=".ui.plan.PlanEditorActivity"
            android:label="@string/title_activity_plan_editor"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mmjang.ankihelper.ui.plan.PlansManagerActivity" />
        </activity>

        <service
            android:name=".domain.CBWatcherService"
            android:enabled="true"
            android:exported="true"
            android:process=":CBService" />

        <activity
            android:name=".ui.LauncherActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.about.AboutActivity" />
        <activity
            android:name=".ui.customdict.CustomDictionaryActivity"
            android:label="@string/btn_open_custom_dicitonary_str"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mmjang.ankihelper.ui.LauncherActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/nnf_provider_paths" />
        </provider>

        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TestActivity"
            android:exported="true" />
        <activity
            android:name=".ui.stat.StatActivity"
            android:exported="true"
            android:label="@string/title_activity_stat"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mmjang.ankihelper.ui.LauncherActivity" />
        </activity>
        <activity
            android:name=".ui.content.ContentActivity"
            android:label="@string/str_btn_open_random_quote"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mmjang.ankihelper.ui.LauncherActivity" />
        </activity>
        <activity
            android:name=".ui.read.BookshelfActivity"
            android:icon="@drawable/ic_bookshelf"
            android:label="@string/epub_reader_label"
            android:launchMode="singleTask">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.content.ContentViewerActivity"
            android:label="@string/str_btn_open_random_quote"
            android:parentActivityName=".ui.content.ContentActivity" />
    </application>

</manifest>